.photo_slider {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo_slider img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.photo_slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(28, 28, 28);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
}

.photo_slider button svg {
  display: block;
}

.previous_photo {
  left: 1rem;
}

.next_photo {
  right: 1rem;
}
