.login_form {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: white;
}

.login_form h2 {
  font-size: large;
  margin-bottom: 0.25rem;
}

.login_form label {
  display: block;
}

.login_form input {
  border: none;
  padding: 0.1rem;
  border-radius: 0.25rem;
  outline: none;
  font-size: medium;
  margin-bottom: 0.25rem;
}

.login_form a {
  font-size: small;
  color: white;
}

.login_buttons {
  display: flex;
}

.login_buttons button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.25rem 0.75rem;
  margin-left: auto;
  margin-top: 0.3rem;
  outline: none;
}

.login_buttons button:active {
  transform: scale(0.98);
}
