.travel_container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 8% 45% 10% 25% 12%;
  box-shadow: 1px 1px 8px 1px rgb(226, 224, 224);
  border-radius: 0.2rem;
  transition-property: background-color;
  transition-duration: 1s;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;

}

.travel_container:hover {
  background-color: var(--space-blue-light);
}

.travel_title {
  grid-column: 1 / span 2;
  background-color: var(--space-blue);
  padding: 0.6rem;
  color: rgb(251, 249, 247);
  text-align: center;
}

.travel_info {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0.02rem;
}

.likeB {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 1rem;
  margin-top: 1rem;
}

.travel_info p {
  margin: 0.2rem;
  font-weight: 400;
  margin: 1rem;
  box-shadow: 0rem 0rem 1px 2px rgb(235, 232, 232);
  padding: 0.1rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.travel_info h4 {
  text-align: center;
  padding: 0.3rem;
  margin: 0.4rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  box-shadow: 2px 1px 6px 2px rgb(235, 232, 232);
  background-color: whitesmoke;
  word-wrap: break-word;
}

.travel_user_info {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  box-shadow: 1px 1px 3px 1px rgb(200, 198, 198);
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 12px;
  background-color: whitesmoke;
}

.travel_user_info img {
  width: 50px;
  height: 50px;
  border-radius: 150px;
}

.travel_slider {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2px;
}

.travel_view {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.ver_mas_button {
  width: 4rem;
}



#myBtn {
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem 1rem;
  outline: none;
  font-family: "space_font", sans-serif;
  background-color: var(--space-blue);
  color: white;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  right: 0;
  top: 0;
  width: 30%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  align-content:flex-end;
  text-align: left;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin-left: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 70%;
}

/* The Close Button */
.close {
  color: var(--space-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

