nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  height: 55px;
  background-color: var(--space-blue-light);
}

nav form {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav form label {
  font-family: "space_font", sans-serif;
  color: var(--space-blue);
  font-weight: bold;
  margin-right: 0.5rem;
}

nav form select {
  border: none;
  border-radius: 0.25rem;
  padding: 0.15rem;
  width: 9.5rem;
  outline: none;
}

nav form button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  font-family: "space_font", sans-serif;
  background-color: var(--space-blue);
  color: white;
}

nav form button:active {
  transform: scale(0.98);
}
