.main-footer {
  color: white;
  background-color: var(--space-blue);
  padding-top: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .list-unstyled {
  font-size: small;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.row1 {
  display: grid;
  grid-template-columns: repeat 1fr;
  grid-template-areas: "a b c d";
  margin-bottom: 1rem;
}

.col1 {
  grid-column: 1 / 4;
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col1 img {
  width: 190px;
  height: 35px;
}

.col2 {
  grid-column: 2 / 4;
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col3 {
  grid-column: 3 / 4;
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col4 {
  grid-column: 4 / 4;
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
}
