header {
  line-height: 0;
}

.header-container {
  position: relative;
  display: inline-block;
}

.banner {
  max-width: 100%;
}

.logo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-width: 60%;
  max-height: auto;
}

.stiky {
  position:sticky;
  top: 0;
  z-index: 999;
}