#content {
  width: 100%;
  height: 6rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.publicarButton {
  padding: 0.3rem;
  border-radius: 3px;
  color: rgb(4, 30, 53);
  background-color: var(--space-blue-light);
  align-content: center;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.form_comment {
  display: flex;
  flex-direction: column;
}

.comentarioLabel {
  display: flex;
  flex-direction: column;
  background-color: var(--space-blue);
  color: white;
  padding: 0.6rem;
  text-align: center;
  font-family: space_font;
}
